Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [22]:
x="hello world!"
print(x)
type(x)

hello world!

str

In [23]:
x=[2,2.7,'tony',5+5j]
print(x)
type(x)

[2, 2.7, 'tony', (5+5j)]

list

In [26]:
x=4.9
y=4.7
z=x+y
print(z)
type(z)

9.600000000000001

float

In [28]:
x=(2,4.8,'john')
print(x)
type(x)

(2, 4.8, 'john')

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [32]:
var1 = ''
type(var1)

str

In [34]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [36]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [38]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [39]:
x=3
y=4
z=x/y
print(z)

0.75

In [41]:
x=10
y=4
z=x%y
print(z)

2

In [43]:
x=13
y=4
z=x//y
print(z)

3

In [44]:
x=10
y=4
z=x**y
print(z)

10000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [62]:
x=[24,'john',4.7,35,'tony','vanshi',3+3j,44,"true",65.7]
for i in x:
    print(i)
    print(type(i))

24
<class 'int'>
john
<class 'str'>
4.7
<class 'float'>
35
<class 'int'>
tony
<class 'str'>
vanshi
<class 'str'>
(3+3j)
<class 'complex'>
44
<class 'int'>
true
<class 'str'>
65.7
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A /= B
    count += 1

if count > 0:
    print(f"{count} times")
else:
    print("Not divisible")

Enter number A:  16
Enter number B:  4

2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [27]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3==0:
        print((i),"no. is divisible by 3")
else:
    print((i),"no. is not divisible by 3")

3 no. is divisible by 3
6 no. is divisible by 3
9 no. is divisible by 3
12 no. is divisible by 3
15 no. is divisible by 3
18 no. is divisible by 3
21 no. is divisible by 3
24 no. is divisible by 3
25 no. is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Objects that can be modified after creation are called mutable.we can alter their content, add, or remove elements without creating a new object.
example: list ,dictionary 
Objects that cannot be changed after creation are called immutable. Once immutable objects are created, its value or state cannot be modified. for creation  we need to create a new object.
example: tuple, string

In [31]:
l=['sudh',2,3.5,'true']
l[3]

'true'

In [ ]:
s